.page-header .container{
    display: flex;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.page-header {
    background-color: var(--primary-bg-color);
}

.header-nav {
    display: flex;
    align-items: center;
    padding-top: 8px;
}

.header-mobile-menu {
    background-color: transparent;
    border-color: transparent;
    margin-left: 61px;
    cursor: pointer;
}

.header-mobile-button {
    position: absolute;
  fill: var(--white);
}

.mobile-menu {
    position: fixed;
    background-color: var(--bg-mobile);
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
}
 
.mobile-container {
      
        height: 100%;
        overflow: auto;
}

.mobile-close-button {
    display: block;
    margin-left: auto;
    background-color: transparent;
    top: 20px;
    right: 20px;
    margin-bottom: 26px;
   
    position: absolute;
    width: 14px;
    height: 14px;
    border-color: transparent;
}

.mobile-button-icon {
    fill: var(--white);

    &:hover,
    &:focus {
        fill: var(--title-color);
        cursor: pointer;
    }
}

.mobile-button-buy {
    width: 209px;
    height: 44px;
    background-color: var(--white);
    border: 1px solid transparent;
    border-radius: 22px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--title-color);
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 32px;
}

.header-menu-list{
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}
    

.header-menu-item{
    text-align: center;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    padding-top: 13px;
    padding-bottom: 13px;
    border: 1px solid #E18298;
}


