.hero-header {
    background-color: #FFB8CA;
}

.header-nav {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.header-mobile-menu {
    background-color: transparent;
    border-color: transparent;
}