<header class="page-header">
    <div class="container">
        <nav class="header-nav">
            <a href="index.html" class="header-logo">
            <svg class="header-logo-icon" width="199" height="50">
                <use href="./images/image.svg#icon-logo"></use>
            </svg>
            </a>
            <button class="header-mobile-menu">
                <svg class="header-mobile-button" width="20" heigth="12">
                    <use href="./images/image.svg#icon-burger"></use>
                </svg>
            </button>
        </nav>
    </div>
    <div class="mobile-menu is-hidden">
        <div class="mobile-container">
            <button type="button" class="mobile-close-button">
              <svg class="mobile-button-icon" width="14" heigth="14">
                    <use href="./images/image.svg#icon-modal"></use>
                </svg>  
            </button>
            <button type="button" class="mobile-button-buy">
                Buy now   >
                <!--<svg class="button-buy-icon" width="6" heigth="8">
                    <use href="./images/image.svg#icon-button-buy"></use>
                </svg>-->
            </button>
            <ul class="header-menu-list">
                <li class="header-menu-item">Home</li>
                <li class="header-menu-item">About us</li>
                <li class="header-menu-item">How it's made?</li>
                <li class="header-menu-item">Our products</li>
                <li class="header-menu-item">Contact</li>
            </ul>
        </div>
    </div>
</header>